body
{
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
}

#contact-form label
{
	display: block;
	color:  #5c5c5c;
	margin-left: 5px;
	letter-spacing: 0.06em;
}

#contact-form  input[type=text],input[type=email]
{
	display: block;
	width: 100%;
	background-color: #e6e6e6;
	margin-bottom: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-indent: 15px;
	border-radius: 5px;
	border: none;
	outline: none;
}

#contact-form textarea
{
	display: block;
	background-color: #e6e6e6;
	width: 100%;
	height: 150px;
	border-radius: 5px;
	border: none;
	outline: none;
	padding-left: 15px;
}
.send-mail-button
{
	float: right;
	width: 150px;
	height: 55px;
	text-align: center;
	background-color: #be2844;
	border-radius: 5px;
	border: none;
	outline: none;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;

	
}
#formmessage p
{
	color: red;
	font-weight: bold;
}
.error
{
	color: red;
	font-size: 0.95em;
	text-align: right;
}
